<h1>USERS</h1>

<div class="container">
  <div class="row">
    <div class="card  my-5 col-3">
      <img src="/app/assets/images/visage.jpg" class="card-img-top" alt="picture_user">
      <div class="card-body">
        <h5 class="card-title">USER'S NAME</h5>
        <p class="card-text">SPECIALITY</p>
        <a href="#" class="btn">...</a>
      </div>
    </div>



    <div class="card my-5 col-3" style="width: 18rem; ">
      <img src="/app/assets/images/visage.jpg" class="card-img-top" alt="picture_user">
      <div class="card-body">
        <h5 class="card-title">USER'S NAME</h5>
        <p class="card-text">SPECIALITY</p>
        <a href="#" class="btn">...</a>
      </div>
    </div>



    <div class="card my-5 col-3" style="width: 18rem; ">
      <img src="/app/assets/images/visage.jpg" class="card-img-top" alt="picture_user">
      <div class="card-body">
        <h5 class="card-title">USER'S NAME</h5>
        <p class="card-text">SPECIALITY</p>
        <a href="#" class="btn">...</a>
      </div>
    </div>



    <div class="card my-5 col-3" style="width: 18rem; ">
      <img src="/app/assets/images/visage.jpg" class="card-img-top" alt="picture_user">
      <div class="card-body">
        <h5 class="card-title">USER'S NAME</h5>
        <p class="card-text">SPECIALITY</p>
        <a href="#" class="btn">...</a>
      </div>
    </div>
  </div>
</div>
