// Specific CSS for your home-page
.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.search-form-control .form-control {
  height: 3.5rem;
  padding-right: 50px;
}

.search-form-control .form-control:focus {
  // border: 1px solid #411e93;
  outline: none !important;
  // box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.search-wrapper {
  position: absolute;
  top: 700px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}
.serch-bar-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-form-control {
  width: 100%;
  max-width: 600px;
  width: 600px;
  position: relative;
}


.btn-flat {
  color: white;
  padding: 1px 4px;
  border-radius: 4px;
  background: #37333d;
  transition: 0.3s ease;
  margin-top: -1px;
}

.btn-flat:hover {
  background-color: #4328ae;
}

.harry-font {
  font-family: 'Cinzel', serif;
}
// modifier la font en cizel quand tu l'auras

.home-center-top {
  text-align: center;
  margin-top: -150px;
}

.card-category {
  margin: 180px 40px 0 40px;
  background-size: cover;
  background-position: center;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // background-image:url('banner.jpg');
}

.serch-bar-center {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -40px;
}


.second-title {
  margin: 40px;
  font-family: 'Cinzel', serif;
}

.card-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 60px;
  // background: rgba(80, 125, 168, 0.2);
  // box-shadow: 0 0 15px rgba(165, 123, 184, 0.2);
  margin: 90px 0;
  flex-wrap: wrap;
}

.card-explication {
  flex: 1;
  min-width: 300px;
  color: white;
}

.card-explication-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.card-explication-img img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.card-explication-h6 {
  font-family: 'Cinzel', serif;
  font-size: 1.2rem;
  color: white;
}

.card-explication-p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  color: white;
}

ul {
  list-style: none;
}

/* Mobile version */
@media (max-width: 768px) {
  .card-two {
    flex-direction: column;
    padding: 20px;
  }

  .card-explication, .card-explication-img {
    width: 100%;
    text-align: center;
  }

  .card-explication-img img {
    max-width: 90%;
  }
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('test-home-V2.png');
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: normal;
}


.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
  align-items: center;
}

.badge-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

// Css du carrousel

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev {
  left: -3%;
}

.carousel-control-next {
  right: -3%;
}


