.card {
  background-image: url('parchemin.jpg') ;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid rgba($color: #000000, $alpha: 1.0);
  font-family: 'Cinzel', serif;
  width: 18rem;
}
