    .body-card {
      background-color: rgba(49, 49, 49, 0.5);
    }

    .card-title-user {
      margin-top: 5px;
      color: wheat;
      text-decoration: none;
    }

    h6 {
      color: wheat;
      text-decoration: none;
    }

    .card-text-user {
      margin-left: 0px;
      color: wheat;
      text-decoration: none;
    }

    .house {
      background-size: cover;
      border-radius: 10px;
      font-family: 'Cinzel', serif;
      width: 18rem;
      height: 20rem;
      opacity: 0.85;
    }

    .avatar-container {
      margin-top: 10px;
      position: relative;
      width: 175px; /* Adjust as needed */
      height: 175px; /* Adjust as needed */
    }

    .card-avatar {
      width: 80%;
      height: 90%;
      object-fit: cover;
      border-radius: 10px; /* Optional */
    }

    .avatar-badge-format {
      background-size: cover;
      object-fit: cover;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 10px;
      right: -80px;
      width: 80px; /* Adjust as needed */
      height: 80px; /* Adjust as needed */
      border-radius: 50%;
    }

    .house-blue {
      background-image: url('card-blue.png');
      transition: ease 0.5s;


        &:hover {
          transition: ease 0.5s;
          box-shadow: 0px 0px 25px rgb(73, 73, 247);
          opacity: 1;
        }
    }

    .house-red {
      background-image: url('card-red.png');
      transition: ease 0.5s;

      &:hover {
        transition: ease 0.5s;
        box-shadow: 0px 0px 25px rgb(247, 73, 73);
        opacity: 1;
      }
    }

    .house-green {
      background-image: url('card-green.png');
      transition: ease 0.5s;

        &:hover {
          transition: ease 0.5s;
          box-shadow: 0px 0px 25px rgb(79, 247, 73);
          opacity: 1;
        }
    }

    .house-yellow {
      background-image: url('card-yellow.png');
      transition: ease 0.5s;

      &:hover {
        transition: ease 0.5s;
        box-shadow: 0px 0px 25px rgb(233, 247, 73);
        opacity: 1;
      }
    }
