.navbar {
  justify-content: space-between;
  // background: rgb(36, 36, 44) ;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Cinzel', serif;
  p {
    margin: 0;
  }
}

.navbar .navbar-brand img {
  width: 50px;
  transition: transform 0.3s ease;
}

.navbar .navbar-brand img:hover {
  transform: scale(1.1);
}

.navbar .nav-link {
  // color: #ffffff;
  color: #42535c;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  // color: #dcdcdc;
  color: #42535c;
}

.navbar .dropdown-menu {
  background-color: #343a40;
  border: none;
}

.navbar .dropdown-item {
  // color: #fff;
  color: #42535c;
  transition: background-color 0.3s ease;
}

.navbar .dropdown-item:hover {
  background-color: #495057;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  // border: 2px solid #fff;
  border: 2px solid #42535c;
  cursor: pointer;
}

.logo-name {
  color: #495057;
}
