// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.flatpickr-day.startRange:not(.endRange),
.flatpickr-day.endRange:not(.startRange) {
  background: grey;
  border-color: grey;
}

.flatpickr-day.inRange {
  background: #8e63ff;
  border-color: #8e63ff;
}

.flatpickr-day.startRange.endRange {
  background: #8e63ff !important;
  border-color: #8e63ff !important;
}

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em; }
.apple_pagination .disabled {
  color: #aaaaaa; }
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.apple_pagination a {
  text-decoration: none;
  color: black; }
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline; }

* {
  cursor: url('balai_curser.png'), default;
  button, a, .btn, .clickable {
    cursor: url('balai_click.png'), pointer !important;
  }
}
